.app .prices__points {
  display:none;
}
.product__sale-timer {
  background-color: #333333;
}
.buy-together__item .product-card__buy {
  display: none !important;
}
.buy-together__title {
  position: relative;
  color: #365b80;
  font-family: 'Raleway', sans-serif;
  line-height: 1.22;
  text-decoration: none;
  margin-bottom: 1.25rem;
  > div {
    padding: 0 var(--spacer-3);
    margin: 0 auto;
    display: inline-block;
    background: #fff;
    font-size: 1.375rem;
    font-weight: 700;
    z-index: 2;
    position: relative;
  }
  &::before {
    background: var(--border-color);
    content: " ";
    height: var(--border-width);
    left: 15%;
    margin-top: -.05rem;
    position: absolute;
    top: 50%;
    width: 70%;
  }
}

.product-card--small .product-card__stamps img {
  margin-left: 10px;
  max-width: 40px;
}

.product__stamps img{
  max-width: 100%;
}

.dynamic-showcase {
  min-height: 500px;
}

.order-info__transaction-code code {
  display: -webkit-box;
  line-height: 12.5px;
  font-size: 11px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 3px;
  color: var(--secondary-lighter);
}
.order-info__valid-thru {
  color: #fff !important;
  > div {
    font-weight: 700;
  }
}

.product-card__picture:first-child:not(:last-child) {
  background-color: #fff;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#instant-search {
  .search {
    &__count .btn {
      margin-top: .25rem;
    }
    &__history {
      overflow-y: hidden;
      line-height: 1.23;
      font-size: 1rem;
    }
  }

  .product-card {
    > section,
    &__link {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: .75rem;
    }
    &__link {
      flex-basis: 74%;
      flex-grow: 1;
    }
    &__pictures {
      flex-basis: 40%;
      aspect-ratio: 1;
    }
    &__name {
      flex-basis: 60%;
      font-size: .9rem;
      text-align: left;
    }
    .prices {
      display: block;
      text-align: left;
      height: auto !important;
      flex-basis: 25%;
      flex-shrink: 1;
      &__compare,
      &__value {
        display: inline-block;
      }
      &__compare {
        margin-right: .5rem;
      }
      &__discount {
        text-align: left;
        @media (max-width: 700px) {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .glide__bullets {
    bottom: 1.75rem;
    display: none;
  }
}

.product__picture img {
  width: 100%;
}

.top-bar {
  min-height: 32px;
  .free-shipping-progress {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    text-transform: uppercase;
    margin: 0 auto;
  }
  .progress {
    flex-grow: 1;
    &-bar {
      background-color: #fcc951;
    }
  }
}
@media (min-width: 992px) {
  .top-bar {
    position: fixed;
    top: 0;
    z-index: 901;
  }
  #header {
    margin-top: 10px;
    padding-top: 22px;
    padding-bottom: 0;
    aside {
      margin-top: 30px;
      max-height: calc(100vh - 30px);
    }
  }
}

// -------//-------- //

//img formas de pagamento
.payment__stamp {
  margin: .75rem auto 0;
  max-width: 100%;
  display: none;
}

#header {
    background-color:#ffffff !important;     
}

.header__row .header__nav a {
    //color: #fff !important;
    text-transform: uppercase !important;
    font-size: 13px !important;
}
// .top-bar, .top-bar__nav {
//     background:#F8F9FA !important;
// }
.header__buttons .btn {
   //color: #cecece;
}
.header__toggler-icon {
    //color: #cecece;
 }
// ajuste produto mobile
@media screen and (max-width: 480px) {
 
  .gallery__item--video {
    font-size: 11px;    
    margin-top: -13px !important;    
    padding: 8px 12px;    
    border-radius: 20px;
    background: #fa4616;
    opacity: 1 !important;
    border: none;
    color: #f8f9fa;
}
@media (max-width: 575.98px) {
  #search-bar {
    display: block !important;
    height: 46px !important;
    transition: none;
  }
}
  
  
}

@media (min-width: 992px){
.gallery__item--video {
    padding: var(--spacer-2) 0;
    font-size: 11px !important;
    background: #FF0000;
    border-radius: 5px;
    opacity: 1 !important;
    color: #ffffff;    
}
  .i-play{color: #ffffff !important;}
}


//links blog
.blog-post a {
    color: #3c9bc8;
    text-decoration: revert;
}

blockquote {
    margin: 0px 20px 0px 20px;
    font-style: italic;
}

//itens recomendados carrinho
.recommended-items__title {
   
    padding-top: 10px;
}

//botao cancelar
.order-info__toggle.btn-danger, .ts-featured-negative {display:none;}
// assinaturas
.order-info__unsubscribe {
  display: none !important;
}

//size h1
h1 {
    font-size: 1.5rem !important;
    color: #365b80 !important;
}

//texto menu
.header__row .header__nav a {
    padding-right: 1rem;
    font-weight: 400 !important;
    color: #333;
}

// FRETE CALCULO
.shipping-calculator__services::after {
  content: 'Compra 100% Segura! Devolução Grátis em até 7 dias\A após a confirmação de entrega. ';
  white-space: pre;
  font-weight: 500;
  font-size: 12px;
  color: #333;
}

//banner categoria
.hero-banner {
    margin: 0px;
}

//remover parcelas
.payment__badges {
    display: none;
}

//menu ofertas back
/*
.header__row .header__nav a:last-child {    
    color: #fffcfc;
    background: #c0004e;
    padding: 5px;
}
*/

//vitrine inteligente
.cart .row .col-md-7 {
  display: flex;
  flex-direction: column;
}

.cart .row .col-md-7 .cart__list {
  order: -1
}

.cart .row .col-md-7 .cart__back {
  order: 2
}

.cart .row .col-md-7 .recommended-items {
  order: 3
}

//tamanho botao vitrine comprar
.product-card--small .product-card__buy, .product-card .spinner-border{  
    bottom: var(--spacer-2);
    right: var(--spacer-4);
}

//menu horizontal
.header__row .header__nav a {
    padding-right: 1rem;
    font-weight: 600;
    color: #333;
}

//border arredondada img 
.banner picture img {border-radius: 5px !important;}

// font style
body {
  font-family: 'Raleway', sans-serif;
}
// header
#header {  
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.header__row {
  padding-left: 15px;
  padding-right: 15px;
}
.top-bar__page-links {
  font-size: .9rem;
  font-weight: 500;
}
// menu
#menu .menu__list span, .header__toggler span, .menu__item span {
  text-transform: uppercase !important;
  font-weight: 400 !important
}
#menu .menu__btn--close, .menu__btn.btn.collapsed {
  color: #000 !important;
}
.menu__item-icon > img {
  max-width: 240% !important;
  max-height: 200% !important;
}
.menu__item-icon {
  margin-right: 3.1rem !important;
  height: 3.45rem !important;
}
.menu__list a.menu__item:hover, .menu__list a.menu__item > span:hover {
  background: #000 !important;
  color: #fff !important;
}
// search input
#search-input {
  font-size: 15px !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
  border: 1px dashed #D9D9D9 !important;
}
// topo
.top-bar__nav, .top-bar {
  background: #fff;
}
.minicart__btn-checkout.btn, .cart__info .cart__btn-checkout {
  font-size: 0px;
}
.minicart__btn-checkout.btn::after, .minicart__btn-checkout.btn svg, .cart__info .cart__btn-checkout::after, .cart__info .cart__btn-checkout svg {
  font-size: 1rem !important;
  content: 'Finalizar compra';
  margin-left: .2rem;
}
// topo mobile
@media screen and (max-width: 480px) {
  .top-bar__countdown {
    font-size: 0.7rem;
    font-weight:500
  }
  .custom-html + div.responsive-baner {
    margin-bottom: 2rem !important;
  }
  #cart-quickview .minicart__aside {
    margin-top: 1rem;
  }
}
//fonte title colecoes
.products-carousel__title {font-size: 1rem;}

// ver mais .products-carousel__title a::after {  content: ' ( Ver + )';  font-size: 0.80rem;  font-weight: bold;  padding:  0.5rem;}

.products-carousel h3, .products-carousel strong, .products-carousel .product-card__prices, .product-card h3, .product-card .product-card__prices,.product-card .prices__discount{
  text-align: center;
}
.products-carousel h3 {
  color: #365b80;
  font-weight: 300;
}
.responsive-baner:last-child {
  padding-bottom: 0px !important;
  margin-bottom: -1em !important;
}
// Footer
.footer__title +ul.list-unstyled > li:first-child span,.footer__title +ul.list-unstyled > li:first-child a {
  font-size: 17px !important;
  color: #2C0E7A !important;
}
.footer__title + p {
  color: #0d0d0d !important;
}
.footer .col-lg-auto {
  width: 20%;
}
.footer__title +ul.list-unstyled > li:nth-child(2) > a {
  color: #2C0E7A !important;
}
.footer__credits {
  border-top: 1px solid #000;
}
.footer__title {
  color: #2C0E7A !important;
}
.footer__credits {
  text-align: center;
}
.footer__links svg {
  display: none !important;
}
.footer__links, .footer__credits, div.footer__title +p, div.footer__title +ul {
  color: #666 !important;
}
// FRETE CALCULO
/*.shipping-calculator__services::after {
  content: 'FRETE GRÁTIS em compras a partir de R$200 \A Frete Econômico (R$ 10) em compras acima de R$ 100.';
  white-space: pre;
  font-weight: 500;
  font-size: 12px;
  color: #333;
}*/
//botao comprar
.btn-primary {
    background-color: rgb(40, 167, 69);
    border-color: rgb(40, 167, 69);
    @media  screen and (min-width: 1024px) {
      padding: 0.5rem 5rem;
    }
}
.product-card__buy.fade {
  opacity: 1 !important;
}
.product-card span {
  text-align: center;
}
.product-card__buy {
  display: flex;
  justify-content: center;
}

//desktop normal size
@media  screen and (min-width: 998px) and (max-width: 1367px) {
  //slider full
  .banner-slider {
    max-width: 100%;
   
  }
  //botao add carrinho
  // .products-carousel .product-card__buy .btn-primary{
  //   width: 150px;
  //   height: 30px;
  // }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 997px) {
  //botao add carrinho
  .products-carousel .product-card__buy .btn-primary{
    width: 150px;
    height: 30px;
  }
}
// apenas mobile
@media screen and (max-width: 480px) {
  //botao add carrinho
  .products-carousel .product-card__buy .btn-primary {
    font-size: 0.7rem
  }
  .header__container.container-fluid {
    margin-top: 0px;
  }
}


// cor botao comprar
.product-card__buy .btn-primary {
    line-height: 0px;
    font-size: 0.8rem;
    background-color: #162567;
    border-color: #162567;
}

//margem preco botao
.product-card__prices {
    height: 3.5rem !important;
}
//oferta produto
.product-card__offer-stamp {
    background-color: #ff5e0f  !important;
    border-radius: 1rem !important;
    line-height: 2.5 !important;
    color: #ffffff !important;
}
//tamanho fonte h1
h1 {
    font-size: 2.0rem;
}

//estrelas trustvox
.product-card__name +div {
  margin-left: 25%;
  //display: none !important
}

.discount-applier .alert::after{
 content: '*O valor do desconto não é cumulativo com outras promoções';
}
.cart__summary-row[data-discount^="0.0"],
.summary__amount__row[data-discount^="0.0"] {
  display: none;
}
//remover status pedido aberto
.order-info__status--open {
  display: none
}
//tam img checkout
.summary__item img {
  width: 50px;
}

//bt comprar busca
.product-card__buy .btn-primary {
    line-height: 0;
    font-size: .8rem;
    background-color: #162567;
    border-color: #162567;
    //margin: 0px 40px 0px 0px;
}

//topo contatos
.top-bar__page-links {
    font-size: .6rem;
    float: right;    
    margin-right: -20px;
    text-transform: uppercase;
}

/* ALPIX */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

/* @font-face {
  font-family: Averta;
  src: url(/assets/fonts/Averta-Regular-w2.woff2) format("woff2"),url(/assets/fonts/Averta-Regular-w.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Averta;
  src: url(/assets/fonts/Averta-Semibold-w2.woff2) format("woff2"),url(/assets/fonts/Averta-Semibold-w.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Averta;
  src: url(/assets/fonts/Averta-Bold-w2.woff2) format("woff2"),url(/assets/fonts/Averta-Bold-w.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
} */
:root{
  --apx_azul : #4698ca;
  --apx_azul2: #365b80;
  --apx_laranja1: #FFBF3F;
  --apx_laranja2: #FF5E0F;
  --apx_laranja2_h: #FA4616;
  --apx_cinza : #6A6A57;
  --apx_marrom : #87876E;
}
body #header .top-bar, body #header  .top-bar__nav{background:#f9f9f9}
body #header .top-bar, body #header  .top-bar__nav{
  // background-color:#fff;
  /*box-shadow: unset!important;*/
}
// article#content,
// main{background:#FAFAF7}
article#content,
main{background:#fff}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.22;
  fonte-size:18px;
  color:#365b80;
}

body{
  font-family: "PT Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.68;
  color: #616a73;
}
.top-bar__page-links a{
  color:var(--apx_cinza);
  font-size:12px;
  text-transform:initial;
  font-weight:normal;
}
#search-input{
  border: 1px dashed #4698ca!important;
  border-radius: 10px;
  text-transform: initial!important;
  font-family: 'Raleway', sans-serif;
  font-size: 12px!important;
  background: #ffffff;
}
.header__search-btn{}
.header__search-btn .fa-search,
.header__buttons .btn{
  color: #365b80;
}
.header__container{margin:0 auto;padding:15px}
.badge-primary{background:#1f69c1}
.header__nav{
  display:flex;
  justify-content:space-between;
  max-width: 1080px;
  margin: 0 auto;
}
.header__row .header__nav a{
  color:#365b80;
  position: relative;
  font-weight: 700!important;  
  padding: 18px 0;  
  font-size:14px;
  margin:0
}
.header__row .header__nav a:hover{
  background:transparent
}
.header__row .header__nav a:hover:after{
  opacity: 1;
}
.header__row .header__nav a:after{
  background:var(--apx_azul2);
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  opacity: 0;
  -webkit-transition: .2s cubic-bezier(.4,0,.22,1);
  transition: .2s cubic-bezier(.4,0,.22,1);
}

#header .d-lg-block.order-lg-last{
  margin: 15px 0 -23px 0;
  background: #f2f2f2;
  width: 100vw;
  max-width: unset;
  flex: 0 0 100vw;
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
}
.products-carousel{background:transparent;}

.product-card > .product-card{
  border: 0;
  box-shadow: unset;
  padding: 15px 15px 30px;
  margin-bottom: 30px;
  /*border-bottom: 1px solid #5DB177;*/
  border-radius: 0;
  background:#fff;
}
.product-card .product-card__buy{
  position: absolute;
  top: 0;
  width: auto;
  left: 0;
  height: auto;
  display: grid;
  place-content: center;
  opacity: 0!important;
  z-index: 10;
  transition: opacity .5s;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.product-card:hover .product-card__buy{
  opacity: 1!important;
  visibility: visible;
}

.product-card__buy .fas{display:none;}
.product-card__buy .btn-primary{
  background: #18a662;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: .15em;
  border: none;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  line-height: 47px;
  height: auto;
  border-radius: 47px;
  padding: 0 25px;
  min-width: 180px;
  transition: .2s opacity;
}
/*.products-carousel__title:before,
.products-carousel__title:after,
.products-carousel__title a:after{display:none!important;}*/
.products-carousel__title{margin:1rem 0;}
.products-carousel__title a, .products-carousel__title span{
  font-size: 1.5rem;
  color: #365b80;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.22;
  text-decoration: none;
}

.products-carousel__title a:after{
  background:#fff
}

.product-card__name{
  font-size: 1rem;
  color:#365b80;
  font-family: 'Raleway', sans-serif;
  font-weight: 700!important;
  line-height: 1.22rem;
  height:auto;
  margin-bottom:5px;
}

.prices__value{
  font-size: 1.7rem;
  color:#365b80;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.22;
}

.glide__arrows--outer .glide__arrow--left,
.glide__arrows--outer .glide__arrow--right{
  background-color: var(--apx_laranja2);
  color: #fff;
  font-size: 14px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity:1
}
.glide__arrows--outer .glide__arrow--left{left:-25px;}
.glide__arrows--outer .glide__arrow--right{right:-25px;}

h1{
 font-size:2rem!important; 
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 line-height: 1.22;
 color:var(--apx_marrom);
}

#product-description{}
#product-description .lead{
  font-size: 1.6875rem;
  color:#dda647;  
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.22;
}
#product-description .html-clearfix{
  padding: 30px;
  margin-bottom: 30px;
  background: #fff;
}

.stamps{display:flex;    flex-wrap: wrap;}
.stamps > li{justify-content:space-between}
.stamps > li img{max-height:75px;}

@media(min-width:990px){
  .header__logo{
    // max-height: unset;
    // margin: -20px 0 0 0;
  }

  #content > div > .banner-slider:first-child{
    max-width:100%;
    --banner-aspect-ratio: 1!important;
    --banner-aspect-ratio-mobile: 1;
    height:auto;
  }
}
@media(max-width:990px){
  .products-carousel__title a, .products-carousel__title span{
    font-size:1.3rem;
  }
}


.header__search{overflow:visible}
#header #instant-search{}
#header #instant-search > .backdrop{display:none;}
#header #instant-search .search__box.card{
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  z-index: 1;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
  border-radius: 0;
  width: 550px;
  border-top: 4px solid var(--apx_azul);
  margin-top: 15px;
}
#header .search__history .fas,
#header .search__count{color:#fff;}
#header .search__history{text-align:right}

#header .search__body{max-height:50vh}
#header #instant-search .search__box.card .search__header{display:none;}
#header #instant-search .search__box.card .search-engine__results{}
#header #instant-search .search__box.card .search-engine__results .search-engine__info h3{display:none;}
#header #instant-search .search__box.card .search-engine__results .search-engine__retail{}
#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row{display:block;}
#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div{display:block;width:100%;max-width:100%;}

#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__buy,
#header #instant-search .search__box.card .search-engine__results .search-engine__retail > .row > div .product-card .product-card__offer-stamp{display:none}
#header #instant-search .search__box.card .search-engine .lead{font-size:14px;margin-top:.5rem}
#header #instant-search .search__box.card .search-engine h4{font-size:18px;}
#header #instant-search .product-card{box-shadow:unset!important;}
.search__footer{
  font-size: 12px;
  background: var(--apx_azul);
  border-radius: 0;
  border: 0;
}
.search__history,
.search__history a,
.search__count{color:#fff;white-space:normal}


.footer{
background: #012765;
color:#fff;
padding-top:0
}

.footer-newsletter{
background: url(/img/bg-footer-newsletter.svg) 0 100% no-repeat #03257e;
padding-top: 55px;
padding-bottom: 55px;
position: relative;
width: 100vw;
padding: 40px 10%;
left: 50%;
transform: translate(-50%, 0);
margin-bottom:60px;
}

.footer-newsletter #mlb2-1703292.ml-form-embedContainer .ml-form-embedWrapper{
background:transparent;
}
.footer-newsletter #mlb2-1703292.ml-form-embedContainer .ml-form-embedWrapper .row-form {
display:flex;
align-items:center;
justify-content:space-between
}

.footer-newsletter #mlb2-1703292.ml-form-embedContainer .ml-form-embedWrapper .row-form span{
font-size: 1.1875rem!important;
font-family: 'Raleway', sans-serif;
font-weight: 700!important;
width: 300px!important;
display: block;
margin-right: 5rem!important;
color: #fff;
line-height: 1.22!important;
}
.footer-newsletter #mlb2-1703292.ml-form-embedContainer .ml-form-embedWrapper .row-form input::placeholder{color:#fff!important;}
.footer-newsletter #mlb2-1703292.ml-form-embedContainer .ml-form-embedWrapper .row-form input{
font-family: 'Raleway' !important;
font-size: 12px!important;
letter-spacing: .028em;
padding: 12px 16px!important;
background-color: transparent!important;
border: 1px solid #dfe0ee;
border-radius: 0!important;
display: block;
height: 46px;
color: #fff!important;
}
.footer-newsletter #mlb2-1703292.ml-form-embedContainer .ml-form-embedWrapper .row-form button{
font-weight: 700;
font-size: 14px!important;
letter-spacing: .15em!important;
font-family: 'Raleway', sans-serif;
text-transform: uppercase!important;
border: 0;
border-radius: 46px;
height: 46px;
color: #0952AC!important;
background: #fff!important;
transition: all .2s;
}
.footer-newsletter #mlb2-1703292.ml-form-embedContainer .ml-form-embedWrapper .row-form button:hover{
color: #fff!important;
background: #0952AC!important;
}

.footer__title+p{color:#fff!important;}
.footer a,
.footer__title+ul.list-unstyled>li:nth-child(2)>a,
.footer__title+ul.list-unstyled>li:first-child a, .footer__title+ul.list-unstyled>li:first-child span,
.footer__list-icon{    color: #56CCF2!important;}

.footer{border:0}
.footer *{
font-size: 12px;
letter-spacing: .028em;
font-family: 'Raleway', sans-serif;
}
.footer .footer__title{
color: #fff!important;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 14px;
text-transform: uppercase;
letter-spacing: .15em;
}

.footer__links li > i{display:none}
.footer__links li{margin-bottom:5px;}

.pay-icon{background-color:#fff;}

.stamps{display:flex;}
.stamps>li{
background: #fff;
border-radius: 3px;
text-align: center;
align-items: center;
padding: 10px 10px;
flex: 0 0 31%;
justify-content: space-between;
margin: 0 10px 10px 0!important;
}
.stamps>li img{max-height:60px!important;width:auto;}

.footer__credits,
.footer__credits *{color:#fff;font-family: 'Raleway', sans-serif;    border-color: #002053;}

.menu__list a.menu__item>span{background:transparent!important}
.menu__list a.menu__item:hover>span{color:#fff!important;background:transparent!important}

.menu__list a.menu__item:hover{
background:var(--apx_azul)!important;
transition: all .2s
}

#menu .menu__list span, .header__toggler span, .menu__item span{
color: var(--apx_azul);
position: relative;
font-weight: 700!important;
padding: 18px 0;
text-transform: uppercase;
font-size: 14px;
margin: 0;
font-family:PT Sans;
}

.menu__item{border:0;}

.footer__social a,
.footer__social a i{
  font-size:18px;
}
.footer__stamps li:nth-child(3)>img{width:auto;}

@media(max-width:990px){
  #mlb2-1703292.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody.ml-form-embedBodyHorizontal{
    display: block;
    padding: 0;
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
  }
  .footer-newsletter{
    margin: 0;
    padding: 15px;
  }

  #header #instant-search .search__box.card{
      max-width:100%;
  }
  #header #instant-search .search__box.card .search-engine__results .search-engine__retail>.row>div .product-card .product-card__name{padding-left:0;width: 100%;font-size:.7rem;}
  #header #instant-search .search-engine__item{padding:0;}
  #header #instant-search .search-engine__info{padding-bottom:0;}
  #header #instant-search .product-card__prices .prices__compare{font-size:.8rem;}
  #header #instant-search .product-card__prices .prices__value{font-size:.8rem;}
  #header #instant-search .search__body{
      min-height: unset;
      max-height: calc(100vh - 250px);
  }
  #header #instant-search .search__box.card .search-engine__results .prices>*{font-size:14px;}
  .search__box.card .search-engine__results .search-engine__retail>.row>div .product-card section{justify-content:space-between}
  .products-carousel h3{font-size:14px;}

  .glide__arrows--outer .glide__arrow--right{right:0}
  .glide__arrows--outer .glide__arrow--left{left:0}
  .glide__arrows--outer .glide__arrow--left, .glide__arrows--outer .glide__arrow--right{
    height:25px;
    width:25px;
    padding:0;
  }

  #checkout .product-card .product-card__buy > button:after{line-height:normal!important}
}


#cart .product-card__buy .btn-primary{
  font-size: 12px;
  height: auto;
  line-height: 18px;
  padding: 5px 16px;
  width: auto;
  min-width: auto;
  margin: 0 auto;
  display: block;
  letter-spacing: 1px;
}
#cart .product-card{box-shadow:0px 0px 0px;}
#cart .product-card .prices__value{font-size:1.2rem;}

@media(max-width:990px){
  .app__stamps>.stamps{
    justify-content:center;
  }
}

.menu__item{padding:0px 15px;}
#accordion-menu .menu__item span.menu__item-icon{padding:0;height:auto!important}
.menu__list > .menu_item{}

footer .trustvox-certificate__fixed-seal{
  margin: 0 auto;
  max-height: 60px;
  background-position: center;
  background-size: 80px;
}
.product-card:hover{box-shadow:unset;}
.product-card__buy .btn-primary{width:fit-content;}

.page--search .search-engine__results > .container{padding:0;}

@media(max-width:990px){
  .product-card .product-card__buy,
  .product-card:hover .product-card__buy,
  .recommended-items .product-card__buy{
    position: relative !important;
    top: auto;
    margin: 15px 0 0 0;
    opacity:1!important;;
  }

  .product-card__buy .btn-primary{
    font-size: 10px;
    height: auto;
    line-height: initial;
    padding: 8px 18px;
    width: auto;
    min-width: unset;
  }

  // .product-card__name {
  //   font-size: 0.8rem;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
  //   width: 100%;
  //   display: block;
  // }

  .product-card__name{
    font-size:14px;
    max-height: 42px;
    overflow: hidden;
  }
  .prices__value{font-size:1.4rem}

  #product-description .lead, h1{font-size:calc(var(--h1) * 0.6)!important}
  .prices--big .prices__value{font-size:calc(var(--h1) * 0.8)}

  .stamps>li{
    flex: 0 0 calc(50% - 10px);
    width: auto;
    min-width: auto;
  }
}

.recommended-items .product-card__buy{
  position: absolute!important;
  width: 100%;
}
#checkout .product-card .product-card__buy > button {
  min-width: 70%;
  margin: 0 auto;
}
#checkout .product-card .product-card__buy > button{font-size:0;line-height:0}
#checkout .product-card .product-card__buy > button:after{
  font-size: 14px;
  content: "Adicionar";
  display: block;
  line-height: 47px;
}
.stamps > li #seloEconfy > img{max-width:unset!important;width:unset!important}
@media(min-width:990px){
  .app__footer .stamps>li{flex:0 0 auto}
  .app__stamps>.stamps{justify-content:center}
}

@media(max-width:990px){
  .recommended-items .product-card__buy{position:relative!important}
  footer #seloEconfy img{max-width:auto!important;width:unset!important}
}

#estilos-slider{
  align-items:center;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}
#estilos-slider > div > strong{
  color: #606395;
    font-size: 1.2rem;
    line-height: 1.2rem;
}
#estilos-slider .glide__slide{}
#estilos-slider .glide__slide strong{
  display:block;
  font-size:15px;
  font-weight:normal;
  margin-top:5px;
  color: #705a3d;
}
#estilos-slider .glide__slide a{
  display:block;
  text-align:center;
}
// #accordion-menu > div:not(#categories-nav) .menu__list .menu__item-icon{display:none;}
#accordion-menu > div:not(#categories-nav) .menu__list .menu__item-icon{}
#accordion-menu > div:not(#categories-nav) .menu__list .menu__item-icon img{padding:10px;}
#accordion-menu > div:not(#categories-nav) .menu__list a:hover .menu__item-icon img{    filter: brightness(100);}
@media(max-width:990px){
  #estilos-slider > div > strong{
      color: #606395;      
      text-align:center;
      margin:30px 0;
      width:100%;
      display:block;
  }
  #estilos-slider{padding:0 1.5em}
  #estilos-slider .btn.glide__arrow--left{left:-2em}
  #estilos-slider .btn.glide__arrow--right{right:-2em}
  
}
.app .stamps img {
  opacity: 1 !important;
}
// menu phone adicionar link para blog
.menu__phone {
  display: flex !important;
  flex-direction: column;
}
.product-item .ts-shelf-container {
  //display: none !important;
}
@media(min-width: 992px) {
  /* .header__row {
    display: flex;
    .col-auto.p-0 {
      order: 1;
    }
    .col.col-lg-auto.pl-1.pl-md-2.pl-lg-3 {
      order: 2;
    }
    .d-none.d-lg-block.col {
      order: 3;
    }
    .d-none.d-lg-block.col-12.col-lg-3.collapse {
      order: 4;
      flex-basis: 30%;
    }
    .order-lg-last.col-auto.p-0 {
      order: 5;
    } 
  }*/
  #header #instant-search .search__box.card{
    left: -95% !important;
  }
}
.top-bar__nav {
  display: none !important;
}

//container blog
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 1024px; }
}


// quantity selector
.product__buy .apx_quantity_selector{position:relative;}
.product__buy .apx_quantity_selector button:last-child{left:auto; right:0;}
.product__buy .apx_quantity_selector button i{font-size:12px;line-height:32px;}
.product__buy .apx_quantity_selector button{
  background: transparent;
  border: 0;
  border-radius: 7px;
  color: #333;
  height: 34px;
  left: 0;
  margin: 7px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 34px;
  z-index: 2;
}
.product__buy .apx_quantity_selector input{
  background: #f7f7f7;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  height: 48px;
  letter-spacing: 1px;
  pointer-events: none;
  text-align: center;
  width: 120px;
  font-weight: bold;
}
.product__buy{display:flex;gap:15px;}
@media(max-width:990px){
  .product__buy{}
  .product__buy .apx_quantity_selector + span{width:100%}
  .product__buy .apx_quantity_selector + span  .btn-primary{white-space:nowrap;padding-left:0;padding-right:0;white-space:nowrap;width:100%}
  .product__buy .apx_quantity_selector input{width:130px;}
}
.share-network-facebook, .share-network-whatsapp, .share-network-twitter, .share-network-telegram, .share-network-pinterest, .share-network-email, .share-network-sms,
.product__payment.card{display:none}


//local cartstack -- remover antes de subir
// #omnisend-dynamic-container{display:none!important}
//

#apx_menu{
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  margin: 0;
}
#apx_menu{

}
#apx_menu .dropdown{position: relative;}
#apx_menu .dropdown-menu-custom{
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 100%;
  background: #fff;
  padding: 1.5rem 1rem;
  box-shadow: 10px 10px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  gap:15px;
  margin-top:30px;
  pointer-events:none;
  opacity: 0;
  transition: all .3s;
}
#apx_menu .dropdown:hover .dropdown-menu-custom{
  opacity:1;
  pointer-events: all;
  margin-top: 0;

}
#apx_menu .dropdown.produtos-parceiros .dropdown-menu-custom{
  display: grid;
  grid-template-columns: 15em 15em 15em;
  box-sizing: border-box;
  max-width: fit-content;
  width: fit-content;
}
#apx_menu .dropdown.nossos-produtos .dropdown-menu-custom{
  display: grid;
  grid-template-columns: 14rem 14rem 14rem 14rem;
  box-sizing: border-box;
  max-width: fit-content;
  width: fit-content;
  gap:1rem;
}

// @font-face { font-family: 'AmaticSCBold'; src: url('/assets/fonts/AmaticSCBold.eot'); src: url('/assets/fonts/AmaticSCBold.eot') format('embedded-opentype'), url('/assets/fonts/AmaticSCBold.woff2') format('woff2'), url('/assets/fonts/AmaticSCBold.woff') format('woff'), url('/assets/fonts/AmaticSCBold.ttf') format('truetype'), url('/assets/fonts/AmaticSCBold.svg#AmaticSCBold') format('svg'); }
// @font-face { font-family: 'AmaticSCRegular'; src: url('/assets/fonts/AmaticSCRegular.eot'); src: url('/assets/fonts/AmaticSCRegular.eot') format('embedded-opentype'), url('/assets/fonts/AmaticSCRegular.woff2') format('woff2'), url('/assets/fonts/AmaticSCRegular.woff') format('woff'), url('/assets/fonts/AmaticSCRegular.ttf') format('truetype'), url('/assets/fonts/AmaticSCRegular.svg#AmaticSCRegular') format('svg'); }

#apx_menu .dropdown.produtos-parceiros .dropdown-menu-custom  li
#apx_menu .dropdown.nossos-produtos .dropdown-menu-custom  li{padding:0!important}
#apx_menu .dropdown.produtos-parceiros .dropdown-menu-custom a,
#apx_menu .dropdown.nossos-produtos .dropdown-menu-custom a{
  // font-family: 'AmaticSCBold', sans-serif !important;
  font-size: 16px!important;
  white-space:normal;
  text-align:left;
  display:block;
}
#apx_menu .dropdown.nossos-produtos ul{margin:0}
#apx_menu .dropdown.nossos-produtos .dropdown-menu-custom a .menu__item-icon{
  display: inline-block;
  vertical-align: middle;
  line-height: initial;
  min-height: unset;
  height: auto!important;
}
#apx_menu .dropdown.nossos-produtos .dropdown-menu-custom a .menu__item-icon img{
  max-height:30px!important;
  max-width:30px;
  width:auto;
}
#apx_menu .dropdown-menu-custom li{}
#apx_menu .dropdown-menu-custom li a:after{display:none!important}
#apx_menu .dropdown-menu-custom li a:hover{opacity: .7;}
#apx_menu .dropdown-menu-custom li a{
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: opacity .3s;
}
#apx_menu .dropdown-menu-custom li a .menu__item-icon{margin:0!important;max-width:100%;width:auto}
#apx_menu .dropdown-menu-custom li a .menu__item-icon img{
  max-height: 100%!important;
  max-width: 100%!important;
}

#apx_menu .ganhe-pontos .dropdown-menu-custom{
white-space:nowrap;
padding:1rem;
}
#apx_menu .dropdown.ganhe-pontos .dropdown-menu-custom p{
  color:#000
}
#apx_menu .dropdown.ganhe-pontos .dropdown-menu-custom strong{
  font-size: 18px;
  color: #365b80;
  font-weight: 900;
}
#apx_menu .dropdown.ganhe-pontos .dropdown-menu-custom li a{
  background: #fa4616;
  color: #fff;
  display: block;
  margin: .5rem 0 0rem 0;
  padding: .5rem;
}

li.todos-os-produtos {display:none}

.dropdown-menu-custom.full{padding:1.5rem 1.5rem .5rem 1.5rem!important}
.dropdown-menu-custom.full > li{text-align: left;}
.dropdown-menu-custom.full > li > strong{
  font-size: 18px;
  text-transform: uppercase;
  color: #0079a6;
  border-bottom: 2px solid;
  padding-bottom: 3px;
  display: block;
  margin-bottom: 10px;
  white-space:nowrap
}
.dropdown-menu-custom.full > li > ul{
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
.dropdown-menu-custom.full > li > ul > li {text-align: left!important;}
body #apx_menu .dropdown .dropdown-menu-custom.full > li > ul > li > a{
  font-size:14px!important;
  text-transform:initial!important;
  white-space: normal;
  align-items: start;
  text-align: left;
  font-weight:500!important
}

#apx_menu > li{margin:-15px 0}

#topSlide{
  //background: linear-gradient(200deg, #fe6514, rgb(255 212 0) 100%) 0% 0% no-repeat padding-box padding-box transparent !important;
  background: #0053BB !important;
  color:#fff;
  line-height: 15px;
}
#topSlide  li{padding:.5rem 0}
#topSlide  li,
#topSlide a{
  color:#fff;
  text-align:center;
  font-size:13px;
  font-family: 'Raleway', sans-serif;
}

//.header__row .menu__{order:3}

@media(min-width:990px){
  #apx_menu .dropdown.nossos-produtos .dropdown-menu-custom{
    max-height: calc(100vh - 130px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media(max-width:990px){
  .menu__{
    background: #fff;
    box-shadow: 0 0 25px rgb(0 0 0 / 50%);
    height: 100%;
    left: 0;
    margin: 0;
    padding: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999999999;
  }
  .menu__ #apx_menu{
    flex-direction: column;
    max-height: calc(100vh - 8rem);
    overflow: scroll;
    text-align: left;
    width: calc(100% + 15px);
    padding-right: 15px;
    margin-right: -15px;
  }
  .header__row .header__nav a{font-size:16px!important;padding:15px 0}

  .menu__ .menu-trigger{
    padding: 0;
    border: 0;
    background: transparent;
    margin: 0;
  }
  .menu__ .menu-trigger svg{
    height: 30px;
    width: 30px;
    fill:#fff;
    color:#fff;
  }

  .menu__ .dropdown{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap
  }
  .menu__ .dropdown > button{
    padding: 0;
    border: 0;
    background: transparent;
  }
  .menu__ .dropdown > button svg{
    height:20px;
    width:20px;
    color:#365b80
  }
  #apx_menu{gap:0}
  #apx_menu > li{
    border-bottom:1px solid #f2f2f2;
    margin:0
  }

  #small-in-widget{z-index:99!important}

  #apx_menu .dropdown.nossos-produtos .dropdown-menu-custom{
    box-shadow: unset;
    display: flex;
    max-height:0;
    overflow:hidden;
    padding:0!important;
    flex-direction: column;
    gap: 0.5rem;
    left: 0;
    margin: 0;
    position: relative;
    top: auto;
    background: #fff;
    
    width: 100%;
    flex: 1 1 100%;
    max-width: unset;
    flex-wrap: nowrap;
    
    // padding: 1rem!important;
  }
  .dropdown-menu-custom.full>li>strong{font-size:16px}

  .menu__header{
    background: #365b80;
    margin: -2rem -2rem 1rem -2rem;
    padding: 1rem;
  }
  .menu__header span{
    font-weight: bold;
    color: #fff;
  }

  .align-items-center{align-items: center;}
  .justify-content-between{justify-content: space-between;}

  #apx_menu .dropdown.nossos-produtos.dropdown-mobile-active .dropdown-menu-custom{
    max-height: calc(100vh - 250px);
    opacity:1;
    padding: 1rem!important;
    overflow-y:scroll;
    border: 1px solid #f2f2f2;
    margin-bottom:15px;
  }
  .dropdown-mobile-active > button{
    transform: rotate(180deg);
  }

  .menu__{
    left: -100vw;
    box-shadow: none;
    transition:all .3s;
  }
  .menu__.isVisible{
    left: 0;
    box-shadow: 0 0 25px rgb(0 0 0 / 50%);
    
  }
}
#cashback {
  padding: 15px;
  //width: 50%;
  border-radius: 10px;
  /*border-color:rgb(40, 167, 69);
  border-width: 1px;
  border-style: solid;*/
  background-color:#e1ffce
}
#dinheiro-volta strong, .dinheiro {
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(40, 167, 69);
}

#apx_menu .produtos-parceiros.dropdown .dropdown-menu-custom{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  max-width: unset;
  width:275px
}
#apx_menu .produtos-parceiros.dropdown .dropdown-menu-custom a{white-space:nowrap;    font-size: 14px!important;}

@media(max-width:990px){
  #apx_menu .produtos-parceiros.dropdown .dropdown-menu-custom{
    width:100%;
  }
}
/* Bloco sobre nos */
.sobre_cell_title h4 {
  margin-bottom: 20px;
  font: normal normal 400 30px/40px 'Raleway';
  letter-spacing: 0px;
  color: #365b80;
  &::after {
    content: "";
    background: #eee;
    height: 1px;
    width: 100%;
    display: block;
  }
  span {
    border-bottom: 2px solid #365b80;
  }
}
.sobre_cell_text {
  display: flex;
  flex-direction: column;
  h5 {
    font: normal normal bold 20px/40px 'Raleway';
    letter-spacing: 0px;
    color: #333333;
    margin: 20px 0px;
  }
  p {
    font: normal normal 300 18px/36px 'Raleway';
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 30px;
  }
  a {
    background: #4698ca 0% 0% no-repeat padding-box;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font: normal normal bold 18px/40px 'Raleway';
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px 110px;;
    width: 60%;
}
}
.sobre_cell_video {
  .celltronics-mobileonly {
    display: none;
    background: #4698ca 0% 0% no-repeat padding-box;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font: normal normal bold 18px/40px 'Raleway';
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px 110px;
  }
  iframe {
    width: 100%;
    height: 485px;
  }
}
@media (max-width: 767px) {
  .custom-html.my-4.my-lg-5:last-child .html-clearfix {
    overflow: hidden
  }
  .sobre_cell_text p, .celltronics-deskonly {
    display: none !important;
  }
  .sobre_cell_text {
    flex-direction: column;
  } 
  .celltronics-mobileonly {
    display: flex !important;
    margin-top: 7%;
  }
  .sobre_cell_video {
    width: 100%;
    iframe {
      width: 100%;
      height: auto;
    }
  }
  .sobre_cell_container {
    text-align: center;
  }
}

.product-card .product-card__buy{
  opacity: 1!important;
  position: relative;
  top: auto;
  margin: 0;
  bottom: auto;
  display: block;
  left: auto;
  transform: unset;
  background: transparent!important;
  display: flex;
  align-items: center;
  gap: 15px;
}

.qtde-adicionar-carrinho{
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #f4f4f4;
  line-height: 36px!important;
  border-radius: 36px!important;
  width: auto!important;
  padding: 0 10px;
}

.qtde-adicionar-carrinho > input{
  -moz-appearance:textfield; /* Firefox */
  height: 36px;
  padding: 0;
  width:40px;
  border: 0!important;
  text-align:center
}
.qtde-adicionar-carrinho > button{
  border: 0;
  padding: 0;
  background: transparent;
}
.qtde-adicionar-carrinho > button > svg{
  height: 16px;
  margin: 0;
  display: block;
  width: 16px;
}

.qtde-adicionar-carrinho > input::-webkit-outer-spin-button,
.qtde-adicionar-carrinho > input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
.product-card__buy{margin-top:1rem!important}
.product-card__buy .btn-primary{
  padding: 0px;
  width: auto;
  min-width: unset;
  line-height: 36px;
}
.product-card__buy .btn-primary div{padding: 0 15px}

@media(max-width:990px){
  .product-card .product-card__buy{flex-direction: column;}
  .product-card .product-card__buy > *{width:100%!important;justify-content: space-between;}
}

.recommended-items .product-card__buy{
  display:flex!important;
  position:relative!important;
  flex-direction: column!important;
  transform: unset;
  width: auto;
  left: auto;
  right: auto;
}
.recommended-items .product-card__buy .btn-primary div{padding:0}

/* SEARCH BY VOICE */
#search-bar form > button:first-child{
  position: absolute;
  z-index: 2;
  height: 100%;
  border: 0;
  background: transparent;
  padding: 6px 10px 10px 10px;
  outline:none
}
#search-bar form > button + input{padding-left:35px;}
@keyframes flickerAnimation { /* flame pulses */
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.fa-microphone-slash{
  opacity:1;  
  animation: flickerAnimation 1s infinite;
}
@media(max-width:990px){
  #search-bar form>button:first-child{padding:0px 10px;line-height: initial;}
}
#dinheiro-volta + .prices__points, .product__prices .prices__points{
  display: none;
}

/* PROGRAMA DE PONTOS TIA SONIA */
[class="page page--pages/programa-de-fidelidade"] > .sections{padding-bottom:0!important;background:#F5F5F5}
.justify-content-between{justify-content: space-between;}
.justify-content-center{justify-content: center;}
.align-items-center{align-items: center;}
.text-center{text-align:center}
#ppts{}
#ppts ul{list-style-type:none;}
#ppts .container{width:1360px;max-width:100%}
#ppts .ppts-title{
  font-weight: 900;
  font-size: 48.83px;
  color: #365B80;
}
#ppts .ppts-compare{}
#ppts .ppts-divider h1.ppts-title{
  font-weight: 900;
  font-size: 73.245px!important;
  line-height:initial;
  color: #005AA7!important;
  text-align:center;
  margin:0;
}
#ppts .ppts-imageCrop{
  position: relative;
  height: 635px;
  width: fit-content;
  overflow: hidden;
  margin-bottom: -6rem;
  margin-top: -7rem;
  margin-left: -10rem;
}
#ppts .ppts-imageCrop img{
  position: relative;
  margin: -82px 0 0 0;
}
#ppts .ppts-divider .ppts-title + p{
  font-weight: 400;
font-size: 39.06px;

color: #646457;
text-align:center;
}
#ppts .ppts-compare .detail img{
  position:absolute;
}
#ppts .ppts-compare .detail{
  position:relative;
  background: #C20840;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-weight: 900;
  font-size: 61.04px;
  line-height: initial;
  color: #FFFFFF;
  width:fit-content;
  padding:.5rem 1.5rem;
  margin:1rem auto;
}
#ppts .ppts-compare span{
  display:block;
  text-align:center;
  font-size: 36px;
  line-height: 47px;
  color: #646457;
  font-weight:400;

}
#ppts .ppts-compare small{
  font-size: 36px;
  line-height: 42px;
  color: #005AA7;
  display:block;
  text-align:center;
  font-weight:600;
}

#ppts .ppts-divider{
  border-bottom: 5px solid #4698ca;
  // box-shadow: 0px 10px 20px #4698ca6b;
  
}

#ppts .ppts-como_participar-bg{
  background: #4698CA;
}
#ppts .ppts-como_participar .ppts-title{
  font-weight: 900;
  font-size: 61.04px;
  line-height: 73px;
  color: #FFBF3F;
  margin:3rem 0;
}

#ppts .ppts-como_participar ul{
  align-items: center;
  display: flex;
  gap: 1rem;
  margin: 3rem 0 1.5rem -10rem;
}
#ppts .ppts-como_participar ul li{
  background: #FFFFFF;
  padding:20px;
  width: 33.33333333%;
}
#ppts .ppts-como_participar ul li strong{
  font-weight: 900;
  font-size: 48.83px;
  line-height: 59px;
  display:block;
  color: #4698CA;
}
#ppts .ppts-como_participar ul li b{
  font-size: 19px;
  line-height: 23px;
  color: #4698CA;
}
#ppts .ppts-como_participar ul li p{
  font-size: 14px;
  line-height: 22px;
  color: #6A6A57;
}

#ppts .ppts-info{
  font-weight: 900;
  font-size: 19.2px;
  line-height: 23px;
  color: #4698CA;
}
#ppts .ppts-info small{
  font-weight: 400;
  font-size: 15.36px;
  line-height: 20px;
  color: #646457;
}

#ppts .ppts-benefits{}
#ppts .ppts-benefits img{display:block;margin:0 auto 1rem auto}
#ppts .ppts-benefits strong{
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  max-width:100%;
  display:block;
  width:220px;
  color: #4698CA;
  margin:0 auto;
}

#ppts .ppts-steps{}
.ppts-steps img{margin-bottom:3rem}
.steps h3{margin:0 0 2rem 0}
.steps p{
  font-weight: 400;
  font-size: 31.25px;
  line-height: 40px;
  margin-bottom:0;
  color: #646457;
  width:1000px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
#ppts .ppts-cta .ppts-title{margin:0}
#ppts .ppts-cta p{
  font-weight: 400;
  font-size: 25px;
  margin:2rem auto;
  text-align:center;
  color: #646457;
  width:1000px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}
#ppts .ppts-cta a{
  background: #FFBF3F;
  border-radius: 40px;
  font-weight: 900;
  font-size: 25px;
    line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color:#fff;
  padding:1.5rem 2rem;
  display:block;
  width:fit-content;
  margin:0 auto
}
#ppts .ppts-faq{
  background:#03257E;
}

#ppts .ppts-faq .ppts-faq-list{
  display:flex;
  flex-direction: column;
  gap:1rem;
}
#ppts .ppts-faq .ppts-faq-list li{
  background: #FFFFFF;
  border: 1px solid #F8F8F8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding:1.5rem; 

}
#ppts .ppts-faq .ppts-faq-list li .question{
  
}
#ppts .ppts-faq .ppts-faq-list li .question > p{
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  margin:0
}
#ppts .ppts-faq .ppts-faq-list li .question > button.active{
  transform: rotate(-180deg);
}
#ppts .ppts-faq .ppts-faq-list li .question > button{
  background: #ffbf3f;
  border: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;  
  background-repeat: no-repeat;
  background-position: center;
}
#ppts .ppts-faq .ppts-faq-list li .response{margin-top:2rem;display:none}
#ppts .ppts-faq .ppts-faq-list li .response p{}
#ppts .ppts-faq .ppts-title{color:#fff}

#ppts .ppts-faq .ppts-faq-list li .question{gap:15px;}
@media(max-width:990px){
  #ppts .ppts-compare .detail svg{top:0}
  #ppts .ppts-divider h1.ppts-title{font-size:53px!important}
  #ppts .ppts-divider .ppts-title+p{font-size:29px}
  #ppts .ppts-compare .detail{font-size:41px}
  #ppts .ppts-compare span{font-size:26px;line-height:initial;}

  #ppts .ppts-como_participar .ppts-title{
    font-size:51px;
    text-align:center;
    padding:3rem 0 5rem 0
  }
  #ppts .ppts-como_participar ul{
    flex-direction: column;
    width: 100%;
    margin: -6rem 0 0 0;
    padding:0 2rem
  }
  #ppts .ppts-como_participar ul li{width:100%}
  #ppts .ppts-info{
    margin: 2rem auto 0 0;
    text-align: center;
  }
  #ppts .ppts-title{font-size:38px}

  .steps{padding:0}
  #ppts .ppts-cta p,
  .steps p{font-size:21px;line-height:initial;margin:3rem auto 1rem auto!important}
  // #ppts .ppts-steps img{max-width:100%;margin-bottom:5rem}

  #ppts .ppts-cta a{
    font-size:18px;
  }
  #ppts .ppts-faq .ppts-title{font-size:28px;}
  #ppts .ppts-faq .ppts-faq-list li .question>p{font-size:14px;line-height:initial}
  #ppts .ppts-faq .ppts-faq-list li .question>button{min-width:36px;width:36px;height:36px}
  #ppts .ppts-faq .ppts-faq-list li{padding:1rem}
  #ppts .ppts-divider{border-bottom:0}
}

[class="page page--pages/programa-de-fidelidade"] .custom-html > .container{
  width:100%;padding:0;
  max-width:100%;
}

[class="page page--pages/programa-de-fidelidade"]  .responsive-baner *{
  text-align:center
}
[class="page page--pages/programa-de-fidelidade"] .custom-html,
[class="page page--pages/programa-de-fidelidade"] .custom-html .html-clearfix{margin:0!important}
//minha conta
#user-button:after {
  content: "Minha Conta";
  font-size: 11px;
  position: absolute;
  top: 39px;
  left: -13px;
  width: 60px;
}

.info-bar{background: #ffffff; color: #4698ca; padding-top: 20px;}
.info-bar__title {font-weight: bold;}
.info-bar__text {text-transform: initial;font-size: 12px;}
.rounded-icon{border: 1px solid #4698ca;}
.collection-shelf {margin-top: 1rem;}

/* @media(min-width:990px){
  #search-bar{order:4!important}
  .header__row .order-lg-last.col-auto.p-0{order:5!important}  
} */
@media(min-width: 767px) {
  .direita {
    position: absolute;
    top: 8.5px;
    right: .8%;
    text-transform: uppercase;
    display: block !important;
  } 
  .direita1 {
    position: absolute;
    top: 8.5px;
    right: 34%;
    text-transform: uppercase;
    display: block !important;

  } 
  .direita2 {
    position: absolute;
    top: 8.5px;
    right: 68%;
    text-transform: uppercase;
    display: block !important;
  } 
  #clube, #cnpj {
    display: none;
  }
}

.direita, .direita1, .direita2 {
  display: none;
}

.payment__intermediator, .payment__gateway--123188, .prices__discount{
  //display:none;
}
.payment__gateway--123188:last-child {
  border-bottom: 2px solid #002053;
}
.payment__gateway--123188 {
  border-left: 2px solid #002053;
  border-right: 2px solid #002053;
  background-color: #2d507a;
  color: #fff;
  .payment__back i {
    color: #fff
  }
}
@media(max-width: 767px) {
  #apx_menu a > svg.ionicon {
    display: none !important;
  }
}

.quantity-selector__btn-container {
  input {
    background: #f7f7f7;
    border: none;
    height: 49px;
    border-radius: 0;
  }
  .btn {
    background: #f7f7f7;

    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.product-card__stamps {
    left: unset !important;
    right: 110px !important;
    top: 0px !important;
}
.sections .info-bar:first-child {
  display: block;
}

.product__sale-timer .h1 {
  color: #F7D102 !important; 
}

.cart-item__price-kit {
  color: var(--success);
  float: right;
  padding: 0 var(--spacer-2);
}

.summary__item-kit {
  color: var(--success);
  padding: 0 var(--spacer-2);
}
.faq_list{
  .list{
      display:flex;
      flex-direction: column;
  }
  .faq_list-item{
      .hat{
          .a_text{
              letter-spacing: 0.05em;
          }
          button{
              border:0;
              padding:0;
              background:transparent;
              svg{
                  transition: all .5s;
              }
          }
          border: 1px solid #F8F8F8;
      }
      .content{
          font-family: "Source Sans Pro";   
          letter-spacing: 0.05em;         
          height:0;
          max-height:0;
          overflow: hidden;
          transition: padding .5s, max-height .5s;
          background:#f8f8f8;
          padding: 0rem;
          margin-top: -.5rem;
          box-sizing: border-box;
      }
  }
  .faq_list-item.visible{
      .hat{
          button{
              border:0;
              padding:0;
              background:transparent;
              svg{
                  transform: rotate(315deg);
              }
          }            
      }
      .content{
          transition: padding .5s, max-height .5s;
          max-height:180px;
          overflow-y: auto;
          height:auto;
          padding: 2rem;
      }
  }
}
.text-center {
  text-align: center;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.justify-content-between {
  justify-content: space-between;
}

.faq_list {
  h2 {
      color: #f3237f;
      font-family: GoldplayAltBold;
      font-size: 30px;
  }
  &-item {
      svg path {
          color: #f3237f;
      }
  }
}


.shipping-line[data-service-code="FREIGHT_TYPE_ECONOMIC"],.shipping-line[data-service-code="FREIGHT_TYPE_EXPRESS"]  {
  display: none !important;
}

.product__production{display:none;}

.stamps > li:last-child {
  background: transparent !important;
}

.body#page-products .mt-3 {
    font-size: 1.25rem;
    font-weight: 300;
    background: #fff3cd;
    padding: 15px;
    border-radius: 10px;
}
.body#page-products .mt-3::before {
    content: "Use o cupom QUEROTIASONIA para ganhar desconto na primeira compra!";
    display: block;
    background-color: #ffeb3b;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
